@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  color: white;
}

button {
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background-color: #2b2a33;
    border: 1px solid #bb5d5d;
  }

  input {
    border: 1px solid #bb5d5d;
    border-radius: 8px;
    background-color: #2b2a33;
    color: white;
  }

  select {
    border: 1px solid #bb5d5d;
    border-radius: 8px;
    background-color: #2b2a33;
    color: white;
  }

.minibtn {
  background: rgba(40,37,37,0.7);
  border-radius: 5px;
  height: 40px; 
  width: 40px;
  cursor: pointer;
}

.minibtn:hover {background:none}
